* {
    font-family: Montserrat;
}

.hero {
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
}

.hero-header {
    font-size: 50px;
}

.text-content {
    flex: 1; /* Take up 50% width */
    padding: 20px;
}

.image-content {
    flex: 1; /* Take up 50% width */
    height: 100%; /* Full height */
    display: flex;
    justify-content: center;
}

.image-content img {
    width: 100%; /* Maintain 50% width */
    height: 100%; /* Span full height */
    object-fit: cover; /* Ensure the image fits nicely */
}